{% for trick in tricks %}
    <div class="col pb-3">
        <a href="{{ path('trick_details', {'slug': trick.slug}) }}" class="text-decoration-none">
            <div class="card" id="card_trick">
                {% if trick.images is empty %}
                    <img
                            src="{{ asset('/uploads/trick/logo-Snowtricks.png') }}"
                            class="card-img-top img-card"
                            alt=""
                    />
                {% else %}
                    <img
                            src="{{ asset('/uploads/trick/' ~ trick.images[0].name  ) }}"
                            class="card-img-top img-card"
                            alt=""
                    />
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">
                        {{ trick.title }}
                        {# {% if is_granted("ROLE_USER") %} #}
                        <div class="float-end">
                            <a href="#"><i class="bi bi-pencil-fill"></i></a>
                            <a href="#"><i class="bi bi-trash-fill"></i></a>
                        </div>
                        {# {% endif %} #}
                    </h5>
                </div>
            </div>
        </a>
    </div>
{% endfor %}



