{% extends 'base.html.twig' %}

{% block title %}Home - Snow Tricks{% endblock %}

{% block body %}
    <div class="snowtrick_header">
        <div class="row h-100 align-items-center m-0">
            <div class="col-12 text-center mt-5">
                <h1 class="text_banner">
                    <span class="text-primary">Bienvenue sur le</span>
                    <span class="text-white">site communautaire</span>
                    <span class="text-danger">Snowtricks !</span>
                </h1>
                <p class="h3 font-weight-bold text-white text_second_banner">Le site de référence sur les tricks de
                    snowboard !</p>
            </div>
        </div>
        <a href="#tricks"><i class="bi bi-arrow-down-circle-fill float-right arrow-down text-light"></i></a>
    </div>

    <section class="container-fluid pt-3" id="tricks">
        <div class="row" id="tricks_cards">
            {% include 'home/_tricks.html.twig' %}
        </div>
        <div class="d-flex justify-content-center m-5" id="load_more">
            <div class="spinner-border me-3 text-danger" role="status" id="spinner">
                <span class="visually-hidden loading">Loading...</span>
            </div>
            <button class="btn btn-dark text-danger fw-bold" id="load">Load more</button>
        </div>
        <div>
            <a href="#tricks" id="arrow_up" class="d-flex flex-row-reverse"><i
                        class="bi bi-arrow-up-circle-fill"></i></a>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('load') }}
{% endblock %}

