@import "custom";
@import "~bootstrap/scss/bootstrap";

.carousel-item > img {
  height: 95vh;
  object-fit: cover;
}

#arrow_down , #arrow_up {
  font-size: 3em;
  color: black;
}

.arrow-down-carousel {
  position: absolute;
  margin-right: 25px;
  bottom: 5%;
  left: 95%;
}

.img-card {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}

.main_image_trick {
  height: 600px;
}

.img_main {
  object-fit: fill;
}

/* Solid border */
hr.solid {
  border-top: 3px solid black;
}

.avatar {
  height: 50px;
  width: 50px;
}

.comment_content {
  word-break: break-word;
}

.img-card-update {
  width: 200px;
  height: 200px;
  object-fit: fill;
}

@media screen and (max-width: 576px) {
  .navbar-sm {
    display: none;
  }
  footer {
    display: none;
  }
  #arrow_up {
    padding-bottom: 75px;
  }
}

@media screen and (min-width: 576px) {
  .navbar-mobile {
    display: none;
  }
}

