
<!-- Modal -->
<div class="modal fade" id="delete_image_modal_{{ image.id }}" tabindex="-1" aria-labelledby="delete_image_modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete_image_modal">Are you sure you want to delete this image ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img class="w-100" src="{{ asset('/uploads/trick/' ~ image.name) }}" alt="">
                <p class="fw-bold text-center p-2 text-danger bg-dark">If you click on delete, this image will be permanently deleted</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-danger" href="{{ path('trick_delete_image', {id: image.id}) }}"
                   data-delete
                   data-bs-dismiss="modal"
                   data-token="{{ csrf_token('delete' ~ image.id) }}">Delete</a>
            </div>
        </div>
    </div>
</div>

